{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/productivity.css')}}"
/>
{% endblock %} {% block main %}
<!-- Page content -->
<div class="content">
  <div class="grid-container">
    <div class="top-left">
      <h3>Top Sequences Chart</h3>
      <canvas id="sequence_doughnut_chart"></canvas>
    </div>
    
    <div class="top-right">
      <h3>Daily Productivity</h3>
      {% if daily_change_class == 'P' %}
        <div class="icon P"><span class="fa fa-arrow-trend-down"></span></div>
      {% elif daily_change_class == 'G' %}
        <div class="icon G"><span class="fa fa-arrow-trend-up"></span></div>
      {% else %}
        <div class="icon N"><span class="fa fa-grip-lines"></span></div>
      {% endif %}

      <p>Yesterday: {{ yesterday_class_weight }}</p>
      <p>Today: {{ today_class_weight }} </p>
      <p>Indication: {{ daily_change_message}} </p>
    </div>
  </div>

  <div class="grid-container-2">
    <div class="bottom">
      <h3>Productivity Chart</h3>
      <canvas id="day_chart"></canvas>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}
<script>
  function constructSequenceChart(){
    const data = {{ top_sequences_with_percentage|safe }};
    const sequenceChart = new Chart(sequence_doughnut_chart, {
        type: 'doughnut',
        data: {
          labels: data.map(d => d.id),
            datasets: [{
              data: data,
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
              ],
            }]
          },
          options: {
              animation: {
                  duration: 2000
              },
              plugins: {
                  legend: {
                      position: 'right',
                      maxWidth: 0,
                  },
              },
              maintainAspectRatio: false,
              parsing: {
                  yAxisKey: 'value'
              },
        },
    });
      sequenceChart.canvas.parentNode.style.height = '250px';
      sequenceChart.canvas.parentNode.style.width = '700px';
  }

  $(document).ready(function(){
    constructSequenceChart();
    constructDayChart();
  });
</script>

{% endblock %}
