{% extends "html/base.html" %}
{% block main %}
        <div class="grid-container">
            
          <!-- Page content -->
          <div class="content">
            <div id="parent">
                <div class="child"> <label for="start">Start date:</label>

                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></div>
                   

                <div class="child"><label for="start">End date:</label>

                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></div>
        
                <button type="button" class="">Search</button>

            </div>

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Sequence</th>
                    <th>Activity Log</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-green"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-red"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-red"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-red"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-red"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
            
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-red"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                
                  <tr>
                    <td>10/11/2020 12:55</td>
                    <td> <span id="target-green"></span> </td>
                    <td>Emails<br> Office portal</td>
                    <td><a id="yellow" href="#log">View logs</a></td>
                  </tr>
                 
                  
                </tbody>
              </table>
            </div>

          </div>
        </div>
{% endblock %}