{% extends "html/base.html" %}
{% block main %}
        <div class="grid-container">
            
          <!-- Page content -->
          <div class="content">
            <div id="parent">
                <div class="child"> <label for="start">Start date:</label>

                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></div>
                   

                <div class="child"><label for="start">End date:</label>

                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></div>
        
                <button type="button" class="">Search</button>

            </div>

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Sequence</th>
                    <th>Activity Log</th>
                  </tr>
                </thead>
                <tbody>
                  {% for day, record in daily_history.items() %}
                    <tr>
                      <td>{{ day }}</td>
                      <td> <span id="target-green"></span>{{ record.get("status") }}</td>
                      <td style="white-space: pre-line">{{ record.get("sequence") }}</td>
                      <td><a id="yellow" href="#log">View logs</a></td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>

          </div>
        </div>
{% endblock %}