{% extends "html/base.html" %}
{% block main %}
<!-- Image and text -->


<!-- Page content -->
<div class="content">
  <div id="parent">
      <div class="child col-md-2 offset-md-1">
        <label for="trip-start">Start date:</label>
        <input type="date" id="trip_start" name="trip-start">
      </div>
          

      <div class="child col-md-2">
        <label for="trip-end">End date:</label>
        <input type="date" id="trip_end" name="trip-end">
      </div>

      <button type="button" class="col-md-2">Search</button>

  </div>

  <table class="table table-hover">
      <thead>
        <tr>
          <tr>
            {% for col_name in header %}
              {% if loop.index in [1,2] %}
                <th class="col-md-3">{{ col_name }}</th>
              {% else %}
                <th class="col-md-1">{{ col_name }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </tr>
      </thead>
      <tbody>

        {% for record in history %}
          <tr>
            {% for col_name in header %}
              <td>{{ record.get(col_name) }}</td>
            {% endfor %}
          </tr>
        {% endfor %}

        <tr>
          {% for col_name in header %}
            <td>{{ next_line.get(col_name) }}</td>
          {% endfor %}
        </tr>
        
        
      </tbody>
    </table>
  </div>

</div>
{% endblock %}