{% extends "html/base.html" %}
{% from "html/macro.html" import filter_by_date %}
{% block main %}
<!-- Image and text -->


<!-- Page content -->
<div class="content">
{{ filter_by_date() }}
  <table class="table table-hover">
      <thead>
        <tr>
          {% for col_name in header %}
            {% if loop.index in [1,2] %}
              <th class="col-md-3">{{ col_name }}</th>
            {% else %}
              <th class="col-md-1">{{ col_name }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>

        {% for record in history %}
          <tr>
            {% for col_name in header %}
              <td>{{ record.get(col_name) }}</td>
            {% endfor %}
          </tr>
        {% endfor %}

        <tr>
          {% for col_name in header %}
            <td>{{ next_line.get(col_name) }}</td>
          {% endfor %}
        </tr>
        
        
      </tbody>
    </table>
  </div>

</div>
{% endblock %}