{% extends "html/base.html" %}
{% block main %}
<!-- Image and text -->


<!-- Page content -->
<div class="content">
  <div id="parent">
      <div class="child"> <label for="start">Start date:</label>

          <input type="date" id="start" name="trip-start"
                  value="2018-07-22"
                  min="2018-01-01" max="2018-12-31"></div>
          

      <div class="child"><label for="start">End date:</label>

          <input type="date" id="start" name="trip-start"
                  value="2018-07-22"
                  min="2018-01-01" max="2018-12-31"></div>

      <button type="button" class="">Search</button>

  </div>

  <table class="table table-hover">
      <thead>
        <tr>
          <th>Start time-stamp</th>
          <th>Sequence</th>
          <th>Cat</th>
          <th>Class Product</th>
          <th>Size</th>
          <th>Weight</th>
          <th>Seconds</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
          <tr>
          <td>10/11/2020 12:55
          </td>
          <td> Social News
          </td>
          <td>P
          </td>
          <td>1
          </td>
          <td>3
          </td>
          <td>0.5</td>
          <td>169</td>
        </tr>
        
        
      </tbody>
    </table>
  </div>

</div>
{% endblock %}